.animation {
  display: inline-block;
  margin: 10px;
}

.animation:hover{
  cursor: pointer;
}


.code {
  position: relative;
  float: right;
}

tab {
  margin-left: 1em;
}

input {
  width: 50px;
}

.frames {
  position: relative;
  display: inline-block;
  height: 1em;
  width: .25em;
  border: 1px solid black
}

.keyframe {
  background-color: black;
}
.selected {
  background-color: red;
}

.workspace {
  position: absolute;
  background-color: tan;
  height: 500px;
  width: 800px;
}

/*.object {
  position: relative;
  background-color: blue;
  height: 50px;
  width: 50px;
}*/

#object {
  position: relative;
  background-color: green;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
}
