/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    /*position:relative;
}*/
body {
  background-color: #1A2344;
	font-family: sans-serif;
}

nav {
  position: relative;
  background-color: #1A2344;
  text-align: left;
  height: 50px;
  width: 100%;
  margin: 0px;
	border-bottom: 2px solid grey;
}

.logo {
	text-decoration: none;
	vertical-align: middle;
	color: darkgrey;
	position: relative;
	top: 13px;
	left: 15px;
	font-size: 24px;
}

li {
  list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

.animations {
  /*border: 1px solid black;*/
  background-color: #222C57;


}
.animation {
  display: inline-block;
  margin: 3px;
  height: 30px;
  border-radius: 3px;
  background-color: lightgrey;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.animation:hover{
  cursor: pointer;
  background-color: darkgrey;
}
.moveAnimation {
  color: darkgrey;
  text-overflow:
  overflow-wrap: break-word;
	text-indent: -10px;
}



.tools {
  position: absolute;
  height: 100vh;
  width: 80px;
  background-color: #222C57;
}
.tool {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  margin: 10px 5px 23px 5px;
  box-sizing: border-box;
	margin-left: 18px;

}
.tool:hover {
  cursor: pointer;
}

.select {
	background-image: url('./images/select.png');
}

.move {
	background-image: url('./images/move.png');
}

.scale {
  background-image: url('./images/scale.png');
}

.rotate {
  background-image: url('./images/rotate.png');
}

main {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	left: 80px;
	height: 100vh;
	width: 94%;
	/*for grey*/
	background-color: #222C57;
}

.workspace {
	background-color: grey;
  position: relative;
	display: inline-block;
	float: none;
  background-image: url('./images/grid2.png');
  height: 600px;
	width:74%;
}

.codeView {
  position: relative;
  float: right;
  height: 100vh;
  width: 25%;
	box-sizing: border-box;
  padding: 20px;
  background-color: #1A2344;
}
.code {
  font-size: 24px;
  letter-spacing: 5px;
  text-align: center;
	color: darkgrey;
}
hr {
	border: 1px solid darkgrey;
}

tab {
  margin-left: 1em;
}

label{
	/*text-align: center;*/
	color: grey;

}
input[type=text] {
  width: 60px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
	margin: 5px;
}

h4 {
	color: grey;
	margin: 5px 0px 5px 5px;
}
.timeline {
  width: 100%;
}
.frames {
  position: relative;
  display: inline-block;
	background-color: darkgrey;
  height: 1.5em;
  width: .5em;
  border: 1px solid black
}

.keyframe {
  background-color: darkred;
}
.selected {
  background-color: red;
}



#object {
  position: relative;
  background-color: darkgreen;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.24);
}

	/*#object {animation-duration: 1s;animation-name: myTest;}@keyframes myTest {0% {transform:translate(0px, 0px);}100% {transform:translate(100px, 100px);}}*/
		/*.test{
		  animation: animationFrames linear 1s;
		  animation-iteration-count: 1;
		  transform-origin: 50% 50%;
		}

		@keyframes animationFrames{
		  0% {
		    transform:  translate(0px,0px)  ;
		  }
		  100% {
		    transform:  translate(0px,0px)  ;
		  }
		}*/

		.test2 {
		  /*animation: myTest linear 3s;
			animation-iteration-count: 1;*/
			animation-duration: 1s;
			animation-name: myTest2;
		}

		@keyframes myTest2 {
		  0% {
		    background-color: white;
				transform:  translate(0px,0px)
		  }

		  100% {
		    background-color: green;
				transform:  translate(200px,0px)
		  }
		}
